@use '../../app/base.scss';

.formContent{
    background-color: #F8F4F9;
    border-radius: 16px;
    border: 1px solid #1F343E;
    padding: 64px;
    display: flex;
    flex-direction: column;
    max-width: 544px;
    width: 100%;
    
    @include base.mediaQuery(mobile){
        padding: 32px 16px;
    }

    &__text{
        @include base.fontAll(20px,32px,normal,'Noto Sans');
        color: #1F343E;

        @include base.mediaQuery(mobile){
            @include base.fontSizeHeight(16px,24px);
        }
    }
    &__sideNote{
        margin-top: auto;
        @include base.fontAll(16px,32px,normal,'Noto Sans');
        color: #6D7A80;

        @include base.mediaQuery(mobile){
            @include base.fontSizeHeight(16px,24px);
        }
    }
}